@tailwind base;
@tailwind utilities;
@tailwind variants;

:root {
  --primary-50: 255 236 240;    /* Adjusted */
  --primary-100: 255 205 216;   /* Adjusted */
  --primary-200: 254 151 169;   /* Adjusted */
  --primary-300: 248 97 123;    /* Adjusted */
  --primary-400: 241 44 77;     /* Adjusted */
  --primary-500: 212 70 91;     /* Unchanged */
  --primary-600: 174 66 86;     /* Adjusted */
  --primary-700: 134 61 80;     /* Adjusted */
  --primary-800: 96 56 74;      /* Adjusted */
  --primary-900: 71 52 69;      /* Adjusted */
  --primary-950: 42 49 65; 
  --surface-0: 255 255 255;
  --surface-50: 249 250 251;
  --surface-100: 243 244 246;
  --surface-200: 229 231 235;
  --surface-300: 209 213 219;
  --surface-400: 156 163 175;
  --surface-500: 107 114 128;
  --surface-600: 75 85 99;
  --surface-700: 55 65 81;
  --surface-800: 31 41 55;
  --surface-900: 17 24 39;
  --surface-950: 8 8 8;
}